body {
	
	background-image: url(back.jpg);
	background-position: center center;      
	background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #1C2D45; 
	margin: 0;
	padding: 0;
	
}

.overlay11 {
  background-size: cover;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.bgcolor11 {
	background-color: RGBa(255,255,255,0.9);
	
}

.container-fluid1 {
	display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.navbar-brand {
    float: left;
}


.logo-radius {
	border: 1px solid black;
	border-radius: 50%;
	padding: 5px;
	
}

main {
	color: white;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
}

.card-text {
	color: black;
}


.sales-h2 {
	text-shadow: 2px 2px 4px black, 0 0 1em black; /* Параметры тени */
    color: white; /* Белый цвет текста */
	margin-bottom: 5%;
    margin-top: 1em;
}

.col {
	min-width: 240px!important;
}

.row1 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-text {
	color: white!important;
}

footer {
    margin-top: 1em;
}

.logo-radius-footer {
	border: 1px solid white;
	border-radius: 50%;
	padding: 5px;
}
	
.bgcolor11-footer {
	background-color: RGBa(255,255,255,0.3);
	padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    visibility: hidden;
}

