body {
	
	background-image: url(back.jpg);
	background-position: center center;      
	background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #1C2D45; 
	margin: 0;
	padding: 0;
	
}

/*Затемнение*/
.overlay11 {
  background-size: cover;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}



/*Фон шапки*/
.bgcolor11 {
		 background-color: rgba(255,255,255,0.8);
	
}

/*Отображение шапки в центре*/
.container-fluid1 {
	display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

/*Обтекание Бренда СМ*/
.navbar-brand {
    float: left;
}


.logo-radius {
	border: 1px solid black;
	border-radius: 50%;
	padding: 5px;
	
}

main {
	color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
	background-color: rgba(255,255,255,0.5);
	padding: 2em;
	max-width: 1200px;
}

/*Переопределение отображения подвала*/
.row1 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-text {
	color: white!important;
}

footer {
    margin-top: 1em;
}

.logo-radius-footer {
	border: 1px solid white;
	border-radius: 50%;
	padding: 5px;
}
	
.bgcolor11-footer {
	background-color: RGBa(255,255,255,0.3);
	padding-top: 10px;
    padding-bottom: 10px;
}
/*Спрятанный блок размер с шапку*/
.hidden {
    visibility: hidden;
}






/*Параметры текста на странице светильников*/
.sales-h2 {
	text-shadow: 2px 2px 4px black, 0 0 1em black; /* Параметры тени */
    color: white; /* Белый цвет текста */
	margin-bottom: 5%;
    margin-top: 0.5em;
}

/*Цвет текста карточек товара*/
.card-text {
	color: black;
}



/*Минимальная ширина карточек товара*/
.col {
	min-width: 240px!important;
}





.table-simple {
	color: white;
	
}




.table-lights td {
	 padding-left: 1em;
}

.table-lights {
	padding: 1em;
	margin-left: auto!important;
    margin-right: auto!important;
}

.item-image {
	width: 80%;
	max-width: 500px;
}

.item-page {
	text-align: center;
}




.main-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	max-width: 800px;
}

.mainpage h1, .mainpage h2 {
	text-align: center;
}

.contacts-div {
	height: 80%;
}


.list-left {
	text-align: left;
}




.slider {
      position: relative;
      overflow: hidden;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }
	
	
	
	.services-tr {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		
			}
	
	.services-tr td, .fonts-1 {
		font-size: 1.5em;
		max-width: 500px;
		padding-top: 2em;
	}
	
	.services-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	max-width: 600px;
	
	}
	
	
	
	main {
		min-height: 92vh;
	}
	
	.table-contact {
		
		max-height: 600px;
		padding-bottom: 1em;
		
	}